#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e > #backgroundBox {
  position: absolute;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_1 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Line_1 marker {
  fill: #404040;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Line_1 {
  position: absolute;
  width: 376.0876285509847px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Line_1 {
  width: 376.0876285509847px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #404040;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Line_1 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Line_2 marker {
  fill: #404040;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Line_2 {
  position: absolute;
  width: 323.51791189878327px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(90.35420693793561deg);
  -moz-transform: rotate(90.35420693793561deg);
  transform: rotate(90.35420693793561deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Line_2 {
  width: 323.51791189878327px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #404040;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Line_2 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Line_3 marker {
  fill: #404040;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Line_3 {
  position: absolute;
  width: 380.68387949614674px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Line_3 {
  width: 380.68387949614674px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #404040;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Line_3 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Line_4 marker {
  fill: #404040;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Line_4 {
  position: absolute;
  width: 380.68387949614674px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Line_4 {
  width: 380.68387949614674px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #404040;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Line_4 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Line_5 marker {
  fill: #404040;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Line_5 {
  position: absolute;
  width: 380.68387949614674px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Line_5 {
  width: 380.68387949614674px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #404040;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Line_5 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Line_6 marker {
  fill: #404040;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Line_6 {
  position: absolute;
  width: 380.68387949614674px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Line_6 {
  width: 380.68387949614674px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #404040;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Line_6 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_2 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_3 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_4 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_5 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Line_7 marker {
  fill: #404040;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Line_7 {
  position: absolute;
  width: 326.023459603588px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(90.0deg);
  -moz-transform: rotate(90.0deg);
  transform: rotate(90.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Line_7 {
  width: 326.023459603588px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #404040;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Line_7 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Label_40 {
  position: absolute;
  width: 78.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Label_40 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Label_40 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Label_40 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Label_40 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Label_40 span#rtr-s-Label_40_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_43 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_43 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_43 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Ellipse_43 {
  width: 6.0px;
  height: 6.0px;
  min-height: 6.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Ellipse_43 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_43 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_43 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_43 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_43 span#rtr-s-Ellipse_43_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_44 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_44 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_44 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Ellipse_44 {
  width: 6.0px;
  height: 6.0px;
  min-height: 6.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Ellipse_44 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_44 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_44 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_44 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_44 span#rtr-s-Ellipse_44_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_45 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_45 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_45 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Ellipse_45 {
  width: 6.0px;
  height: 6.0px;
  min-height: 6.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Ellipse_45 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_45 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_45 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_45 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_45 span#rtr-s-Ellipse_45_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_46 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_46 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_46 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Ellipse_46 {
  width: 6.0px;
  height: 6.0px;
  min-height: 6.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Ellipse_46 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_46 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_46 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_46 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_46 span#rtr-s-Ellipse_46_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_47 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_47 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_47 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Ellipse_47 {
  width: 6.0px;
  height: 6.0px;
  min-height: 6.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Ellipse_47 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_47 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_47 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_47 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #shapewrapper-s-Ellipse_47 span#rtr-s-Ellipse_47_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Label_62 {
  position: absolute;
  width: 50.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Label_62 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Label_62 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Label_62 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Label_62 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Label_62 span#rtr-s-Label_62_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_50 {
  position: absolute;
  width: 25.0px;
  height: 10.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_50 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_51 {
  position: absolute;
  width: 14.0px;
  height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_51 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_52 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_52 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Button_1 {
  position: absolute;
  width: 132.09649640395673px;
  min-height: 82.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Button_1 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Button_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Button_3 {
  position: absolute;
  width: 99.0px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Button_3 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Button_3 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Button_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Button_3 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Button_3 span#rtr-s-Button_3_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_10 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_11 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_12 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_13 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_1 {
  position: absolute;
  width: 46.15806025192694px;
  height: 58.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_1 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_1 .valign {
  vertical-align: middle;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_1 input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_39 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_39 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_38 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_38 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_2 {
  position: absolute;
  width: 46.15806025192694px;
  height: 58.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_2 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_2 .valign {
  vertical-align: middle;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_2 input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_40 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_40 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_41 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_41 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_3 {
  position: absolute;
  width: 46.15806025192694px;
  height: 58.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_3 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_3 .valign {
  vertical-align: middle;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_3 input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_3 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_42 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_42 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_43 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_43 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_4 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_4 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_4 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_4 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_4 {
  position: absolute;
  width: 46.15806025192694px;
  height: 58.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_4 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_4 .valign {
  vertical-align: middle;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_4 input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial Black',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_4 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Input_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_44 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_44 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_49 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_49 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Button_5 {
  position: absolute;
  width: 132.09649640395673px;
  min-height: 82.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Button_5 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Button_5 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Button_5 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Button_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Button_5 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Button_5 span#rtr-s-Button_5_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_6 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Rectangle_1 {
  position: absolute;
  width: 375.0000124814208px;
  min-height: 74.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Rectangle_1 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Rectangle_1 > .backgroundLayer {
  border-radius: 0px 0px 29px 29px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Rectangle_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 0px 0px 29px 29px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Rectangle_1 > .backgroundLayer {
  border-radius: 0px 0px 29px 29px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_9 {
  position: absolute;
  width: 39.67334386672243px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_9 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_12 {
  position: absolute;
  width: 39.673343866722405px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_12 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_16 {
  position: absolute;
  width: 39.67334386672238px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_16 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_7 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_8 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_9 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_9 span {
  color: #1EAAF1;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #1EAAF1;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_14 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_14 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_36 {
  position: absolute;
  width: 40.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_36 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_14 {
  position: absolute;
  width: 40.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Image_14 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_15 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_15 {
  box-shadow: none;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-addbe419-d9eb-4fb8-9561-cc8e3fffb16e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
