#s-e9b63658-23a3-4eb9-998a-5210f87cee58 > #backgroundBox {
  position: absolute;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Paragraph_1 {
  box-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Label_40 {
  position: absolute;
  width: 78.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Label_40 {
  box-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Label_40 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Label_40 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Label_40 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Label_40 span#rtr-s-Label_40_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_43 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_43 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_43 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Ellipse_43 {
  width: 6.0px;
  height: 6.0px;
  min-height: 6.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Ellipse_43 {
  box-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_43 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_43 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_43 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_43 span#rtr-s-Ellipse_43_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_44 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_44 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_44 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Ellipse_44 {
  width: 6.0px;
  height: 6.0px;
  min-height: 6.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Ellipse_44 {
  box-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_44 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_44 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_44 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_44 span#rtr-s-Ellipse_44_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_45 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_45 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_45 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Ellipse_45 {
  width: 6.0px;
  height: 6.0px;
  min-height: 6.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Ellipse_45 {
  box-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_45 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_45 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_45 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_45 span#rtr-s-Ellipse_45_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_46 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_46 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_46 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Ellipse_46 {
  width: 6.0px;
  height: 6.0px;
  min-height: 6.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Ellipse_46 {
  box-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_46 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_46 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_46 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_46 span#rtr-s-Ellipse_46_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_47 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_47 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_47 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Ellipse_47 {
  width: 6.0px;
  height: 6.0px;
  min-height: 6.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Ellipse_47 {
  box-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_47 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_47 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_47 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #shapewrapper-s-Ellipse_47 span#rtr-s-Ellipse_47_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Label_62 {
  position: absolute;
  width: 50.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Label_62 {
  box-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Label_62 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Label_62 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Label_62 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Label_62 span#rtr-s-Label_62_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Image_50 {
  position: absolute;
  width: 25.0px;
  height: 10.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Image_50 {
  box-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Image_51 {
  position: absolute;
  width: 14.0px;
  height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Image_51 {
  box-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Image_52 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Image_52 {
  box-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Image_28 {
  position: absolute;
  width: 39.420969874036814px;
  height: 39.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Image_28 {
  box-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_3 {
  position: absolute;
  width: 93.7719071377463px;
  min-height: 56.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_3 {
  box-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_3 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_3 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_5 {
  position: absolute;
  width: 93.7719071377463px;
  min-height: 56.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_5 {
  box-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_5 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_5 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_5 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_6 {
  position: absolute;
  width: 93.7719071377463px;
  min-height: 56.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_6 {
  box-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_6 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_6 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_6 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_6 span#rtr-s-Button_6_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Input_1 {
  position: absolute;
  width: 214.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Input_1 {
  box-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Input_1 .valign {
  vertical-align: middle;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Input_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_7 {
  position: absolute;
  width: 93.77190713774627px;
  min-height: 56.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_7 {
  box-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_7 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_7 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_7 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_7 span#rtr-s-Button_7_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 {
  position: absolute;
  width: 363.0000000000001px;
  height: 219.3265306122449px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 {
  box-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 tr.odd {
  background-color: #FFFFFF;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 tr.even {
  background-color: #F0F0F0;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Header_1 {
  background-color: #FFFFFF;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Row_cell_1 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Row_cell_1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Row_cell_1 .verticalalign {
  vertical-align: top;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Row_cell_1 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Row_cell_1 {
  width: 121.66666666666673px;
  height: 1.0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Row_cell_1 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Row_cell_2 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Row_cell_2 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Row_cell_2 .verticalalign {
  vertical-align: top;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Row_cell_2 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Row_cell_2 {
  width: 121.66666666666673px;
  height: 1.0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Row_cell_2 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Row_cell_2 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Row_cell_3 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Row_cell_3 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Row_cell_3 .verticalalign {
  vertical-align: top;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Row_cell_3 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Row_cell_3 {
  width: 119.00000000000011px;
  height: 1.0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Row_cell_3 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Row_cell_3 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Current_row_1 {
  background-color: #FFFFFF;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Row_cell_5 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Row_cell_5 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Row_cell_5 .verticalalign {
  vertical-align: top;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Row_cell_5 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Row_cell_5 {
  width: 121.66666666666673px;
  height: 54.08163265306123px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Row_cell_5 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_2 {
  position: absolute;
  width: 110.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_2 {
  box-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_2 .valign {
  vertical-align: middle;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Row_cell_6 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Row_cell_6 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Row_cell_6 .verticalalign {
  vertical-align: top;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Row_cell_6 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Row_cell_6 {
  width: 121.66666666666673px;
  height: 54.08163265306123px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Row_cell_6 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_3 {
  position: absolute;
  width: 110.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_3 {
  box-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_3 .valign {
  vertical-align: middle;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Row_cell_7 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Row_cell_7 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Row_cell_7 .verticalalign {
  vertical-align: top;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Row_cell_7 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Row_cell_7 {
  width: 119.00000000000011px;
  height: 54.08163265306123px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Row_cell_7 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_4 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_4 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_4 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_4 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_4 {
  position: absolute;
  width: 110.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_4 {
  box-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_4 .valign {
  vertical-align: middle;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Data_grid_1 .s-Input_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Rectangle_1 {
  position: absolute;
  width: 92.77190713774621px;
  min-height: 272.2682289767419px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Rectangle_1 {
  box-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_1 {
  position: absolute;
  width: 93.77190713774627px;
  min-height: 56.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_1 {
  box-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_2 {
  position: absolute;
  width: 93.7719071377463px;
  min-height: 56.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_2 {
  box-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_4 {
  position: absolute;
  width: 93.77190713774633px;
  min-height: 56.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_4 {
  box-shadow: none;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_4 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FFFFFF), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#FFFFFF,#E6E6E6);
  background-image: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_4 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_4 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Image_1 {
  position: absolute;
  width: 38.16886052452308px;
  height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e9b63658-23a3-4eb9-998a-5210f87cee58 #s-Image_1 {
  box-shadow: none;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-e9b63658-23a3-4eb9-998a-5210f87cee58 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
